// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "node_modules/font-awesome/scss/font-awesome.scss";

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-light {
  border-bottom: 1px solid $border-color;
}
.list-group-item {
  border: none;
  margin-bottom: 0;
  border-bottom: 1px solid $border-color;
}
.list-group-item:last-child {
  border-bottom: 0;
}
[v-cloak] { display: none; }
// Card
.card .card-header {
  background-color: #fff;
  border-bottom: 1px solid $border-color;
}
.card h3.card-title {
  font-size: 1.125rem;
  margin: 0.5rem 0;
}
// Forum
.meta , .meta a, .meta .btn {
  color: #999;
  font-size: .9em;
}
// Thread
.thread-show .card .card-header {
  padding: 15px 22px;
}
.thread-show .thread-title {
  font-size: 1.575rem;
}
.reply-list .avatar {
  width: 48px;
  height: 48px;
}
.profile-card {
  background-color: #e9ecef;
}
.profile-card .user-info {
  font-size: 0.75rem;
}
.sidebar, .main-content {
  padding-top: 1.25rem;
}