// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "node_modules/font-awesome/scss/font-awesome.scss";

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-light {
  box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
}
.list-group-item {
  border: none;
  margin-bottom: 0;
  border-bottom: 1px solid #f2f2f2;
}
// Card
.card .card-header {
  background-color: #fff;
  border-bottom: 1px solid #eeeeee;
}
.card h3.card-title {
  font-size: 1.125rem;
  margin-bottom: 0;
}
.card-small {

}
// Forum
.meta {
  color: #b3b3b3;
  font-size: .9em;
}
.meta a {
  color: #b3b3b3;
}
// Thread
.thread-show .card .card-header {
  padding: 15px 22px;
}
.thread-show .thread-title {
  font-size: 1.575rem;
}
.reply-list .avatar {
  width: 48px;
  height: 48px;
}
.profile-card {
  background-color: #e9ecef;
}
.profile-card .user-info {
  font-size: 0.75rem;
}
.sidebar, .main-content {
  padding-top: 1.25rem;
}